::after,
::before {
  box-sizing: border-box;
}

:root {
  --bar-width: 40px;
  --bar-height: 5px;
  --hamburger-gap: 4px;
  --primary-colour: #2A05FA;
  --secondary-colour: #13DBDB;
  --background-colour: white;
  --accent-colour: #6146F8;
  --text-colour: #040210;
  --text-colour2: #F1F0FB;
  --hamburger-margin: 17px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap)*2);
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  --input-width-padding: 120px;
  --input-length-padding: 12px;
  --input-background-color: #F1F0FB;
}

body {
  background-color: var(--background-colour);
  margin: 0;
  font-family: 'Poppins';
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--background-colour);
  border-radius: 999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing),
    width var(--animation-timing), translate var(--animation-timing), rotate var(--animation-timing);
}

.categories-section {
  position: absolute;
  top: 740px;
  margin-top: 60px;
  width: 99.8%;
  height: 720px;
  display: flex;
  background-color: var(--background-colour);
}

#category-header {
  text-align: left;
}

.categories-container {
  text-align: center;
}

.categories-container h2 {
  font-size: 50px;
  font-family: 'Poppins';
  color: var(--text-colour);
}

.categories-title {
  font-size: 24px;
}

.category-container {
  margin-top: 20px;
}

.category-images-container {
  display: flex;
  gap: 80px;
}

.category-images-container a {
  display: block;
  border-radius: 25%;
  overflow: hidden;
  width: 120px;
  height: 120px;
}

.category-images-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ultimate-testimony-container {
  display: flex;
  position: absolute;
  top: 1523px;
  width: 100vw;
  height: 768px;
  max-width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(https://ahmadnurfais.my.id/addition/img/03a.jpeg);
  align-items: center;
  justify-content: center;

}

.testimony-container {
  display: flex;
  height: 308px;
  width: 603px;
  color: white;
  font-family: 'Inter' ,sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.testimony-user {
  display: flex;
  width: 60%;
  height: 30%;
  position: relative;
  bottom: 10px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#user-text {
  font-weight: lighter;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.profile-pic {
  width: 45px;
  height: 45px;
}

.footer {
  display: flex;
  position: absolute;
  top: 2291px;
  width: 97.45%;
  height: 600px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  z-index: 0;
  flex-direction: column;
}

.footer-accent1 {
 position: relative;
 top: -20px;
 left: -35px;
 width: 100vw;
 height: 10px; 
 background-color: var(--secondary-colour) ;
 z-index: 1;
}

.footer-accent2 {
 position: relative;
 top: -20px;
 left: -35px;
 width: 100vw;
 height: 40px; 
 background-color: var(--primary-colour) ;
 z-index: 1;
}

.footer-logo {
 position: relative;
 top: 50px;
 left: 220px;
 width: 380px;
 height: 120px;
}

.footer-logo img {
 width: 100%;
 height: 100%;
 overflow:  hidden;
 object-fit: cover;
 object-position: center;
}

.footer-details1 {
 position: relative;
 top: 70px;
 left: 220px;
 width: fit-content;
 height: fit-content;
 text-align: left;
 font-family: 'Inter', sans-serif;
 font-size: 18px;
 font-weight: medium;
}

.footer-details1 p {
 margin-bottom: 3px;
 margin-top: 3px;
}

.footer-details2 {
 position: relative;
 top: 90px;
 left: 220px;
 width: fit-content;
 height: fit-content;
 text-align: left;
 font-family: 'Inter', sans-serif;
 font-size: 18px;
 font-weight: medium;
}

.footer-details2 p {
 margin-bottom: 3px;
 margin-top: 3px;
}

.social-media-container {
 display: flex;
 position: relative;
 top: 110px;
 left: 220px;
 width: 380px;
 justify-content: space-around;
}

.resources-container {
   position: relative;
   top:50px;
   left: 1400px;
   width: 100px;
}

.footer-accent3 {
 position: relative;
 top: 200px;
 left: -35px;
 width: 100vw;
 height: 10px; 
 background-color: var(--secondary-colour) ;
 z-index: 1;
}

.footer-accent4 {
 position: relative;
 top: 200px;
 left: -35px;
 width: 100vw;
 height: 65px; 
 background-color: var(--primary-colour) ;
 z-index: 1;
 line-height: 40px;
}

.footer-accent4 h3 {
 font-family: 'Inter', sans-serif;
 color: white;
 font-size: 15px;
 font-weight: lighter;
}


.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  left: var(--hamburger-margin);
  cursor: pointer;
  z-index: 3;
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

/* Does does hamburger have the input that is checked if true perform the css*/
.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
  background-color: var(--primary-colour);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
  background-color: var(--primary-colour);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  transform: translateX(-136%);
  padding: 0.5rem 0.1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: var(--background-colour);
  max-width: 10rem;
  color: var(--text-colour);
  min-height: 100vh;
  position: fixed;
  top: 0;
  transition: transform var(--animation-timing);
  z-index: 2;
  text-align: center;
}

.sidebar-links {
 text-align: left;
 padding: 10px;
}

.hamburger-menu:has(input:checked)+.sidebar {
  transform: translateX(-13%);
  width: 15rem;
  transition: transform var(--animation-timing);
}

header {
  display: flex;
  color: var(--background-colour);
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-colour);
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 97.1vw;
  height: 20px;
  z-index: 2;
  transition: top 0.3s, transform 0.3s;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  align-content: center;
}

.header-logo {
 position: relative;
 left: 47%;
 top: -13.5px;
 width: 150px;
 height: 40px;
 z-index: 300;
}

.header-logo img {
 width: 100%;
 height: 100%;
 overflow:  hidden;
 object-fit: cover;
 object-position: center;
}

.header-accent {
  background-color: #13DBDB;
  position: absolute;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 20px;
  width: 97vw;
  height: 15px;
  top: 25px;
  line-height: 85px;
  z-index: 0;
  text-align: center;
  font-size: small;
  font-family: sans-serif;

}

header.hide {
  top: -100px;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 720px;
  top: 80px;
  overflow: hidden;
  z-index: 1;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(74, 74, 74, 0.181);
  border-radius: 10px;
}

#prevBtn {
  left: 10px;
  z-index: 2;
}

#nextBtn {
  right: 10px;
  z-index: 2;
}

.root{
  --height: 10vh;
  --width: 10vh;
  --border-radius: 20px;
  --productoftheday-img-size : 50vh;
  --products-img-size : 25vh;
}

.productoftheday-container
{
  display: flex;
  flex-direction: row;  
  border-radius: 20px;
  /* border: solid black 5px; */
  width: fit-content;
  height: var(--height);
  align-items: center;
  box-shadow: 2px 3px 36px -6px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 3px 36px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 3px 36px -6px rgba(0,0,0,0.75);
}

.productoftheday-container img
{
  /* border-radius: 20px; */
  width: 50vh;
  height: 50vh;
}

.productoftheday {
  position: relative;
}

.productoftheday-price {
  position: absolute;
  left: 40vh;
}

.product {
  position: relative;
}

.price {
  position: absolute;
  right: 2vh;
}

.product-details{
  margin-left: 2vh;
  display: flex;
  flex-direction: row;
}

.products
{
  /* border: solid black 5px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.products > div:nth-child(1) img {
  border-top-left-radius: 20px;
}

.products > div:nth-child(2) img {
  border-top-right-radius: 20px;
}
.products > div:nth-child(3) img {
  border-bottom-left-radius: 20px;
}

.products > div:nth-child(4) img {
  border-bottom-right-radius: 20px;
}

.products img
{
  width: 25vh;
  height: 25vh;
}