body {
    display: flex;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

body h2 {
    position: absolute;
    top:200px;
    font-family: 'inter', sans-serif;
    font-weight: bolder;
    color: black;
}

.product-creation-container {
    display: flex;
    align-items: center;
    border-radius: 20px;
    position: relative;
    padding: 40px;
    top: 30%;
    width: 30%;
    height: fit-content;
    font-family: 'inter', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    color: gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.product-creation-container button {
    padding: 10px;
    border: rgba(0, 0, 0, 0);
    border-radius: 10px;
    color: white;
    background-color: #2A05FA;
    font-weight: medium;
    font-family:Arial, Helvetica, sans-serif;
}

.form-element-container {
    position: relative;
    padding: 15px;
}