@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    --border-radius: 5px;
    --primary-colour: #2A05FA;
    --secondary-colour: #13DBDB;
    --background-colour: white;
}

body {
    margin: 0px;
}

.container {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
}

.header {
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: var(--primary-colour);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 4;
}

.logo-container {
    position: relative;
    top: 13px;
    left: 10%;
    width: 150px;
    height: 50px;
    z-index: 300;
}

.logo-container img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.header-accent {
    background-color: var(--secondary-colour);
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: 85px;
    top: 20px;
    line-height: 85px;
    z-index: 1;
}

.search-product-container {
    position: relative;
    top: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    /* border: solid black 5px; */
}

.search-product-container input[type="text"] {
    position: absolute;
    left: 20px;
    height: 40px;
    border-radius: 7px;
    width: 1240px;
    border: rgba(255, 255, 255, 0);
    background-color: lightgrey;
    color: black;
    text-indent: 20px;
    font-weight: lighter;
    letter-spacing: 0.3 px;
    font-size: 16px;
}

.search-product-container input[type="text"]::placeholder {
    font-style: italic;
    font-weight: lighter;
    letter-spacing: 0.3 px;
    font-size: 16px;
}

.sidebar-container {
    width: 10%;
}

.sidebar {
    position: relative;
    top: 82px;
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 138px;
    text-decoration: none;
    background-color: white;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: darkgray;
    color: white;
}


h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    align-items: center;
    /* border: solid 5px black; */
    margin: 0 auto;
    margin-top: 50px;
}

.product {
    /* border: solid 5px black; */
    width: fit-content;
    margin: 30px;
    height: fit-content;
    border-radius: var(--border-radius);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.29);
    transition: transform 0.3s, box-shadow 0.3s; /* Add box-shadow to transition */
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0px 22px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1); /* Fix syntax */
}


.product-price-container {
    display: flex;
    flex-direction: column;
}

.quantity-category-container {
    display: flex;
    flex-direction: row;
    gap: 5px
}


.product-name {
    position: relative;
    left: 3vh;
    font-size: 18px;
    font-weight: 300;
}

.price {
    position: relative;
    bottom: 3.6vh;
    left: 3vh;
    font-size: 24px;
    font-weight: bolder;
}
.price h2 {
    position: relative;
    left: 2vh;

}

.quantity h2 {
    font-size: 14px;
}

/* .quantity{
    font
} */

.quantity-class-container
{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 6.5vh;
    gap: 5vh;
    left: 1vh;
}

.name-price-container
{
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: relative;
    right: 2vh;
}

.category h2{
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}

.category
{
    width: 15vh;
}

.product a {
    text-decoration: none;
    color: black;
}



.product img {
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    width: 30vh;
    height: 30vh;
    /* padding: 0.4px; */
}


.product-info-container h2 {
    margin-left: 5px;
}

.product-info-container {
    height: 15vh;
    width: 29vh;
}