@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root{
    --border-radius: 5px;
}

.container{
    display: flex;
    flex-direction: row;
    /* border: solid black 5px; */
}

.search-product-container {
    display: flex;
    justify-content: center;
    /* border: solid black 5px; */
}

.search-product-container input[type="text"] {
    position: absolute;
    width: 191vh;
}

.sidebar {
width: 40vh;
}


h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.product-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    align-items: center;
    /* border: solid 5px black; */
    margin: 0 auto;
    margin-top: 50px;
}

.product{
    /* border: solid 5px black; */
    width: fit-content;
    margin-right: 30vh;
    height: fit-content;
    border-radius: var(--border-radius);
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.29);
-webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.29);
-moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.29);
}

.product-price-container
{
    display: flex;
    flex-direction: column;
}

.quantity-category-container
{
    display: flex;
    flex-direction: row;
    gap: 5px
}


.product-name
{
    font-size: 14px;
}

.price
{
    font-size: 14px;
}

.quantity
{
    font-size: 14px;
}

.product a {
    text-decoration: none;
    color: black;
}

.category{
    padding-right: 4px;
    font-size: 14px;
}

.product img{
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    width: 30vh;
    height: 30vh;
    /* padding: 0.4px; */
}


.product-info-container h2
{
    margin-left: 5px; 
}


